.THIS .lightning-link {
    cursor: pointer;
    padding: 5px;
}
.THIS textarea {
    width: 100%;
    border: solid thin gray;
    outline: none;
}
.THIS .card-edit {
    text-align: right;
}
.THIS .card-button {
    margin-right: 10px;
    margin-bottom: 5px;
}